.portfolio {
  width: 100%;
  margin: 0;
}
.portfolio .portfolioContent {
  padding: 100px 0;
}
.portfolio .portfolioContent .titleBar {
  text-align: center;
}
.portfolio .portfolioContent .titleBar span {
  font-family: 'Rubik-Regular', 'Calibri';
  font-size: 14px;
  color: #4DC378;
}
.portfolio .portfolioContent .titleBar h2 {
  font-family: 'Rubik-Bold', 'Calibri';
  font-size: 24px;
  color: #1C113D;
  margin: 8px 0;
}
.portfolio .portfolioContent ul.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 30px 0;
}
.portfolio .portfolioContent ul.tabs li{
  padding: 8px 15px;
  margin: 0 20px;
  font-family: 'Rubik-Bold', 'Calibri';
  font-size: 14px;
  color: #9B9B9B;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  transition: 0.2s;
}
.portfolio .portfolioContent ul.tabs li:hover {
  color: gray;
  transition: 0.2s;
}
.portfolio .portfolioContent ul.tabs .activeTab {
  border-bottom: 2px solid green;
  color: #000;
}
.portfolio .portfolioContent .tabSelect {
  font-size: 14px;
  font-family: 'Rubik-Regular', 'Calibri';
  margin: 10px auto;
  padding: 10px 5px;
  outline: none;
}
.portfolio .portfolioContent .tabSelect button {
  width: 90%;
  font-size: 14px;
  margin: 0 auto;
  display: none;
  border-radius: 2px;
}
.portfolio .portfolioContent .tabSelect .dropdownBody {
  width: 88%;
  margin: 0 auto;
}

.portfolio .portfolioContent .tabSelect .dropdownBody button {
  margin: 0 auto;
}
.portfolio .portfolioContent .tabSelect .dropdownBody button:hover {
  background-color: #e4e4e4;
}

@media(max-width: 669px){
  .portfolio .portfolioContent .tabSelect button {
    display: block;
    width: 100%;
  }
  .portfolio .portfolioContent ul.tabs {
    display: none;
  }
  .portfolio .portfolioContent .tabSelect {
    padding: 10px 0;
  }
}

.portfolio .portfolioContent .gallery {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio .portfolioContent .gallery .imgContainer {
  position: relative;
  margin: 5px;
}
.portfolio .portfolioContent .gallery .imgContainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.portfolio .portfolioContent .gallery .noTemplates {
  font-family: 'Rubik-Medium', 'Calibri';
}
.portfolio .portfolioContent .gallery .imgContainer img.galleryImages {
  width: 350px;
  height: 230px;
  position: relative;
  z-index: 0;
  object-fit: cover;
}
.portfolio .portfolioContent .gallery .imgContainer .hoverItems {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolioContent .gallery .imgContainer .hoverItems img.searchIcon {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 6vh;
  display: none;
  border: 2px solid Transparent;
  transition: 0.2s;
  border-radius: 100%;
}
.portfolio .portfolioContent .gallery .imgContainer .hoverItems img.searchIcon:hover {
  border: 2px solid #27ae60;
  transition: 0.2s;
}
.portfolio .portfolioContent .gallery .imgContainer .hoverItems h4 {
  position: absolute;
  z-index: 10;
  top: 9vh;
  font-family: 'Rubik-Bold', 'Calibri';
  font-size: 18px;
  color: #1C113D;
  margin: 10px 0;
  display: none;
}
.portfolio .portfolioContent .gallery .imgContainer .hoverItems p {
  position: absolute;
  z-index: 10;
  top: 11vh;
  font-family: 'Rubik-Regular', 'Calibri';
  font-size: 12px;
  color: #4DC378;
  margin: 10px 0;
  display: none;
}
.portfolio .portfolioContent .gallery .imgContainer .hoverItems:hover .overlay {
  display: block;
  background: rgba(255,255,255, 0.8);
}
.portfolio .portfolioContent .gallery .imgContainer .hoverItems:hover img.searchIcon,
.portfolio .portfolioContent .gallery .imgContainer .hoverItems:hover  h4.hoverBrand,
.portfolio .portfolioContent .gallery .imgContainer .hoverItems:hover  p.hoverDesc {
  display: block;
}


@media(max-width: 767px){
  .portfolio .portfolioContent .gallery .imgContainer{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .portfolio .portfolioContent .gallery .imgContainer img.galleryImages {
    width: 100%;
    margin: 8px auto;
  }
}
