.showcase {
  width: 100%;
  height: 100%;
  background: url('../../images/bg-Banner.png');
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
  margin: 0;
}
.showcase .showcaseContent {
  padding-top: 15vh;
  padding-bottom: 12vh;
}
/* .showcase .showcaseContent .loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.showcase .showcaseContent .loadingDiv img {
  width: 50px;
  height: 50px;
}
.showcase .showcaseContent img {
  margin: 15px 0;
}
.showcase .showcaseContent h2 {
  font-family: 'Rubik-Light', 'Calibri';
  font-size: 19px;
  color: #fff;
  letter-spacing: 18px;
}
.showcase .showcaseContent .hrLine {
  height: 5px;
  width: 25%;
  background: #57D284;
}
.showcase .showcaseContent p {
  margin-top: 25px;
  font-family: 'Rubik-Light', 'Calibri';
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  width: 50%;
  line-height: 24px;
}
.showcase .showcaseContent p label{
  font-family: 'Rubik-Medium', 'Calibri';
  font-size: 15px;
}


@media(max-width: 1199px){
  .showcase .showcaseContent p {
    width: 60%;
  }
}
@media(max-width: 991px){
  .showcase .showcaseContent p {
    width: 80%;
  }
}
@media(max-width: 767px){
  .showcase .showcaseContent h2 {

  }
  .showcase .showcaseContent p {
    width: 100%;
  }
}
.showcase .showcaseContent button {
  margin-top: 20px;
  background: #57D284;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  width: 164px;
  height: 48px;
  border-radius: 1px;
  font-size: 18px;
  font-family: 'Rubik-Bold', 'Calibri';
  letter-spacing: 1px;
}
.showcase .showcaseContent button:hover {
  background-color: #27ae60;
  transition: 0.2s;
}
